/* general ///////////////*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Roboto, sans-serif;
    color: #333333;
    scroll-behavior: smooth;
}

.container {
    width: 88%;
    margin: auto;
}

.clr {
    clear: both;
}

.line-1 {
    width: 60px;
    height: 1px;
    background-color: #FF305B;
    margin: auto;
}

.line-2 {
    width: 140px;
    height: 1px;
    background-color: #FF305B;
    margin: 3px auto;

}

.three-lines {
    margin-top: 10px;
}

/* navbar //////////////////*/
.navbar {
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 10px 0;
    z-index: 999;
}

.fokir-logo {
    float: left;
    padding-top: 5px;
}

.fokir-logo a {
    color: #FF305B;
    text-decoration: none;
    font-size: x-large;
    font-weight: 2rem;
}

.links {
    float: right;
    padding-top: 5px;
}

.links li {
    display: inline-block;
    padding: 8px;
}

.fokir-link {
    text-decoration: none;
    color: white;
    font-weight: 300;
    transition: color 1s;
}

.fokir-link:hover {
    color: #FF305B;
}

/* haeader ///////////*/
.header {
    background-image: url(images/slider-02.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center center;
}

.overlay {
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
}

.header-content {
    color: white;
    text-align: center;
    padding-top: 16rem;
    line-height: 1.5;
}

.header-content h1 {
    font-size: 4rem;
    color: #FF305B;
}

.header-content h4 {
    font-size: 1.5rem;
    font-weight: 400;
    color: #FFFFFF;
}

.header-content span {
    color: #FFFFFF;
}

.header-content span::after {
    content: '';
    animation: typing 3s  infinite;
    -webkit-animation: typing 3s  infinite;
}

@keyframes typing {
    0% {
        content: ' |';
    }

    2% {
        content: 'D |';
    }

    4% {
        content: 'De |';
    }

    6% {
        content: 'Des |';
    }

    8% {
        content: 'Desi |';
    }

    10% {
        content: 'Desig |';
    }

    12% {
        content: 'Design |';
    }

    14% {
        content: 'Designe |';
    }

    16% {
        content: 'Designer |';
    }

    18% {
        content: 'Designer |';
    }

    20% {
        content: 'Designer |';
    }
    22% {
        content: 'Designer |';
    }
    24% {
        content: 'Designer |';
    }

    26% {
        content: 'Designe |';
    }

    28% {
        content: 'Design |';
    }

    30% {
        content: 'Desig |';
    }

    32% {
        content: 'Desi |';
    }

    34% {
        content: 'Des |';
    }

    36% {
        content: 'De |';
    }

    38% {
        content: 'De |';
    }

    40% {
        content: 'De |';
    }
    42% {
        content: 'De |';
    }
    44% {
        content: 'De |';
    }

    46% {
        content: 'Dev |';
    }

    48% {
        content: 'Deve |';
    }

    50% {
        content: 'Devel |';
    }

    52% {
        content: 'Develo |';
    }

    54% {
        content: 'Develop |';
    }

    56% {
        content: 'Develope |';
    }

    58% {
        content: 'Developer |';
    }

    60% {
        content: 'Developer |';
    }

    62% {
        content: 'Developer |';
    }
    64% {
        content: 'Developer |';
    }
    66% {
        content: 'Developer |';
    }
    68% {
        content: 'Developer |';
    }

    70% {
        content: 'Develope |';
    }

    72% {
        content: 'Develop |';
    }

    74% {
        content: 'Develo |';
    }

    76% {
        content: 'Devel |';
    }

    78% {
        content: 'Deve |';
    }

    80% {
        content: 'Dev |';
    }

    82% {
        content: 'De |';
    }

    84% {
        content: 'D |';
    }

    86% {
        content: ' |';
    }

    88% {
        content: ' |';
    }
    90% {
        content: ' |';
    }
    95% {
        content: ' |';
    }
    100% {
        content: ' |';
    }

}

/* hello ///////////*/
.hello {
    margin: 100px 0;
}

.hello-profile {
    float: left;
    border: solid 8px #555555;
    border-radius: 6px;
}

.hello-info {
    float: right;
    width: 50%;
}

.hello .container {
    width: 75%;
}

.img-and-overlay {
    position: relative;
    top: 20px;
    left: 20px;
    overflow: hidden;
}

.hello-overlay {
    background-color: rgb(0, 0, 0, 0.6);
    position: absolute;
    width: 100%;
    height: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    opacity: 0;
    transition: opacity 0.5s, height 0.5s;
    border-radius: 6px;
}

.hello-overlay i {
    padding: 8px;
    font-size: 1.2rem;
    color: white;
    margin-top: 13rem;
    cursor: pointer;
    transition: color 0.5s;
}

.hello-profile:hover .hello-overlay {
    height: 100%;
    opacity: 1;
}

.fa-brands:hover {
    color: #FF305B;
}

.hello-profile img {
    width: 100%;
    border-radius: 6px;
}

.hello-info h2 {
    position: relative;
    padding: 0 12px;
    margin-bottom: 15px;
    font-size: 1.6rem;
}

.hello-info h2::before {
    content: '';
    background-color: #FF305B;
    width: 4px;
    height: 25px;
    position: absolute;
    top: 10%;
    left: 0;
}

.hello-info p {
    line-height: 1.5;
    color: #555555;
    margin-bottom: 20px;
}

.dashed-line {
    border-bottom: 1px dashed #555555;
    margin-bottom: 20px;
}

.table-1 {
    float: left;
    line-height: 2;
}

.table-2 {
    float: right;
    line-height: 2;
}

.table-1 span,
.table-2 span {
    color: #555555;
}

.hello-info button {
    margin: 15px 2px;
    border: none;
    border-radius: 5px;
    color: #FFFFFF;
    background-color: #FF305B;
    padding: 15px 20px;
    font-size: medium;
    cursor: pointer;
    transition: background-color 1s;
}

.hello-info button:hover {
    background-color: #EC2403;
}

.hello-info i {
    color: #FFFFFF;
}

.table-1 td,
.table-2 td {
    font-weight: 500;
}

/* our services ////////////////////*/
.our-services {
    text-align: center;
    margin: 50px 0;
    background-color: #F1F1F1;
    padding: 60px 0;
}

.single-service {
    width: 25%;
    float: left;
    margin-top: 30px;
    line-height: 2;
    padding: 40px 0;
    border-radius: 5px;
    transition: background-color 0.5s, box-shadow 0.5s;
}

.single-service i {
    font-size: 2rem;
    color: #FF305B;
    transition: transform 0.5s;
}

.single-service:hover {
    background-color: #FFFFFF;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.single-service:hover i {
    transform: scale(1.2, 1.2);
}


/* our portofolio //////////////////*/
.our-portofolio {
    text-align: center;
    margin: 100px 0;
}

.our-portofolio span {
    padding: 20px;
    cursor: pointer;
}

.portofolio-selection {
    margin: 50px 0;
}

.All {
    color: #FF305B;
}

.portfolio-item {
    width: 33.333%;
    float: left;
    padding: 15px;
}

.portfolio-item img {
    width: 100%;
}

.port-image-overlay {
    position: relative;
}

.port-image-overlay:hover .portfolio-overlay {
    opacity: 1;
}

.portfolio-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity .5s;
    cursor: pointer;
}

.portfolio-overlay i {
    color: #FF305B;
    font-size: 1.5rem;
    position: absolute;
    bottom: 0;
    right: 0;
    padding-right: 10px;
    padding-bottom: 10px;
}

/* counters /////////*/
.counters {
    background-color: #F1F1F1;
    text-align: center;
    padding: 100px 0;
}

.one-counter {
    float: left;
    width: 25%;
}

.one-counter h2 {
    line-height: 3;
}

.one-counter i {
    color: #FF305B;
    font-size: 2rem;
}

.one-counter p {
    font-weight: 500;
}

/* feedback /////////////*/
.feedback {
    text-align: center;
    margin: 40px 0;
}

.card-feedback {
    width: 56%;
    margin: 50px auto;
    background-color: #F1F1F1;
    padding: 40px 30px;
    border-radius: 5px;
    position: relative;
}

.feedback-image {
    float: left;
    width: 20%;
    margin: auto;
    margin-top: 15px;
}

.feedback-image img {
    width: 90%;
    border-radius: 50%;
    position: relative;
    z-index: 2;
}

.feedback-info {
    float: right;
    width: 78%;
    text-align: left;
}

.triangle {
    clip-path: polygon(100% 0, 0 0, 0 100%);
    background-color: #FF305B;
    width: 25%;
    height: 180px;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 5px;
}

.feedback-info p {
    font-style: italic;
    line-height: 1.5;
    color: #555555;
}

.feedback-info a {
    line-height: 2.5;
    text-decoration: none;
    color: #555555;
    font-weight: 400;
    padding-left: 6px;
}

.feedback-info i {
    color: #555555;
}

/* our blog ////////////////*/
.blog {
    background-color: #F1F1F1;
    padding: 80px 60px;
    text-align: center;
}

.blog-post {
    width: 33.33%;
    float: left;
    padding: 15px;
    text-align: left;
}

.blog-post img,
.blog-post iframe {
    width: 100%;
}

.post {
    background-color: #FFFFFF;
}

.blog-data {
    padding: 20px;
    line-height: 1.5;
}

.blog-data h2 {
    line-height: 2.25;
    cursor: pointer;
    font-weight: 500;
    transition: color 0.5s;
}

.blog-data h2:hover {
    color: #FF305B;
}

.blog-data button {
    border: none;
    background-color: transparent;
    margin-top: 15px;
    font-size: 1rem;
    font-weight: 400;
    cursor: pointer;
    transition: color 0.5s;
}

.blog-data i {
    transition: color 0.5s;
}

.blog-data button:hover,
.blog-data button:hover i {
    color: #FF305B;
}

.blog-data p {
    color: #555555;
}

/* conact us //////////////*/
.contact-us {
    margin: 50px;
}
.contact-us h1{
    text-align: center;
}
.inputs{
    margin-top: 50px;
    width: 60%;
}
.form-control {
    width: 100%;
    height: 42px;
    padding: 15px 15px;
    margin-bottom: 25px;
    font-size: 0.9rem;
    color: #555;
    font-weight: 300;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline-color: red;
}

.Subject{
    width: 100%;
}
.contact-us button{
    border: none;
    border-radius: 4px;
    padding: 14px 22px;
    text-decoration: none;
    color: #FFFFFF;
    background-color: #FF305B;
    cursor: pointer;
    transition: background-color 0.5s;
}
.contact-us button:hover{
    background-color: #EC2403;
}
.name{
    float: left;
    width: 49%;
}
.email{
    float: right;
    width: 49%;
}
.text-area{
    width: 100%;
    height: auto;
}

/* footer ///////////////*/
.footer {
    background-color: #333333;
    text-align: center;
    padding: 50px 0;
}

.icon {
    display: inline-block;
    padding: 10;
}

.footer p {
    color: #FFFFFF;
}

.footer span {
    color: #FF305B;
    text-decoration: none;
    cursor: pointer;
}

.footer span:hover {
    text-decoration: underline;
}

.app-icons .icon i{
    font-size:1rem;
    color:#FFFFFF;
    padding: 10px;
    margin-bottom: 8px;
    cursor: pointer;
}

.app-icons .icon i:hover {
    color: #FF305B;
}
.app-icons .icon i {
    transition: 0.5s;
}